* {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
box-sizing: border-box;
}
.container{

    height: 100vh;
    width:100%;
    padding: 10px;
    background:linear-gradient(to right, #ff416c, #ff4b2b)
;
   }
.input-container{
    width: 100%;
    max-width: 540px;
    background-color: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;


}
.input-container h1{
    
    color:rgb(225, 9, 9);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
}
.input-container h1 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;justify-content: space-between;
    background-color: #edeefe;
    border-radius: 10px;
    padding-left: 20px;
    margin-bottom: 20px;
}
input{
    flex:1;
    border: none;
    outline: none;
    background:transparent;
    padding: 10px;
}
#add{
    border: none;
    outline: none;
    padding: 16px 30px;
    background:linear-gradient(to right, #f12711, #f5af19);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    transition: transform 0.2s, box-shadow 0.2s;
}
#add:hover{
    background: linear-gradient(to right, #2193b0, #6dd5ed);
    color: black;
    
}
#add:active{
    transform: scale(0.85);
}
ul{
    
    font-size: 16px;
    padding: 12px 15px 12px 15px;
    list-style:circle;
    user-select: none;
    word-wrap: break-word;

}
.delete{
    padding: 0;
    border: none;
    outline: none;
    }

   